.section-platform
  background: #0d0502 url('../images/section-platform-bg-large.jpg') no-repeat 50% 100%
  padding-top: 70px
  padding-bottom: 82px
  position: relative

.section-platform::before
  content: ''
  display: block
  position: absolute
  left: 0
  top: 0
  background: rgb(20,38,134)
  background: linear-gradient(90deg, rgba(20,38,134,1) 0%, rgba(208,65,4,1) 100%)
  width: 100%
  height: 4px

.section-platform__container

.section-platform__title
  font-size: 36px
  line-height: 48px
  color: #fff
  text-transform: uppercase

.section-platform__title span
  color: #e94702

.section-platform__desc
  font-size: 30px
  line-height: 1
  color: #fff
  margin-top: 53px

.section-platform__points
  padding: 0
  margin: 0
  list-style: none
  margin-top: 70px
  width: 874px

.section-platform__points::after
  content: ''
  display: block
  clear: both

.section-platform__points li
  border-width: 3px
  border-style: solid
  border-radius: 20px
  font-size: 22px
  line-height: 30px
  padding: 10px 12px 12px 18px
  position: relative

.section-platform__points li:nth-child(2n-1)
  float: left
  width: 54%
  clear: left

.section-platform__points li:nth-child(2n)
  float: right
  width: calc(46% + 37px)
  clear: right

.section-platform__points li:nth-child(1)
  border-color: #c3d8f0
  color: #c3d8f0

.section-platform__points li:nth-child(1)::after
  content: ''
  display: block
  position: absolute
  width: 27px
  height: 27px
  border-radius: 50%
  background: #950313
  bottom: 48px
  right: -16px

.section-platform__points li:nth-child(2)
  border-color: #fc8d6b
  color: #fc8d6b
  margin-top: -37px
  margin-left: -37px
  padding-left: 50px

.section-platform__points li:nth-child(2)::after
  content: ''
  display: block
  position: absolute
  width: 27px
  height: 27px
  border-radius: 50%
  background: #950313
  bottom: -16px
  right: 18px

.section-platform__points li:nth-child(3)
  border-color: #fc8d6b
  color: #fc8d6b
  margin-top: 29px
  padding: 15px 12px 18px 18px

.section-platform__points li:nth-child(3)::after
  content: ''
  display: block
  position: absolute
  width: 27px
  height: 27px
  border-radius: 50%
  background: #950313
  bottom: 71px
  right: -16px

.section-platform__points li:nth-child(4)
  border-color: #c3d8f0
  color: #c3d8f0
  margin-top: -36px
  margin-left: -37px
  padding-left: 50px

.section-platform__points li:nth-child(4)::after
  content: ''
  display: block
  position: absolute
  width: 27px
  height: 27px
  border-radius: 50%
  background: #950313
  bottom: -16px
  right: 54px
